<div *ngIf="youtubeListsService.page$ | async as page">
  <form
    class="search"
    [formGroup]="reactiveSearchForm"
    (submit)="this.youtubeListsService.nextPage(null, searchTextValue)"
  >
    <label
      class="search__label"
      for="searchText"
    >
      {{'search.inputText' | translate}}
    </label>
    <div class="search__block">
      <input
        class="search__input"
        type="text"
        id="searchText"
        [placeholder]="'search.inputPlaceholder' | translate"
        formControlName="searchText"/>
      <button
        class="search__button"
        mat-icon-button
        type="submit"
        [disabled]="!reactiveSearchForm.valid"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </form>

  <div class="list">
    <ng-container *ngFor="let video of page.items">
      <app-youtube-video
        *ngIf="video.inList"
        [item]="video"
        [showFavoriteBtn]="true"
        (toggle)="youtubeListsService.toggleInFavoriteList(video, page.items)"
      ></app-youtube-video>
    </ng-container>
  </div>
  <div class="navigate">
    <div class="navigate__block">
      <button
        class="navigate__prev-btn"
        mat-flat-button
        color="primary"
        aria-label="Back"
        [disabled]="!page.prevPageToken"
        (click)="youtubeListsService.nextPage(page.prevPageToken, searchTextValue)"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button
        class="navigate__next-btn"
        mat-flat-button
        color="primary"
        aria-label="Forward"
        [disabled]="!page.nextPageToken"
        (click)="youtubeListsService.nextPage(page.nextPageToken, searchTextValue)"
      >
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>

