.search {
  display: flex;
  justify-content: center;
  margin: 10px;

  &__block {
    border: 1px gray;
    border-radius: 3px;
    background-color: lightgray;
    width: 800px;
  }
  &__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
  }
  &__input {
    height: calc(100% - 2px);
    width: calc(100% - 66px);
    border: none;
    margin: 1px;
    padding: 0 10px;
    border-radius: 3px 0 0 3px;
  }
  &__button {
    position: relative;
    right: -2px;
  }
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigate {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  &__prev-btn {
    margin-right: 20px;
  }
  &__next-btn {
    margin-left: 20px;
  }
}

