<div *ngIf="item.snippet.thumbnails as thumbnails"
  class="item"
  [ngStyle]="{width: thumbnails.medium.width + 'px'}"
>
  <div
    class="item__image"
    [ngStyle]="getThumbnailStyles(thumbnails.medium)"
  >
    <div class="item__buttons">
      <div class="item__buttons-block">
        <button
          *ngIf="showFavoriteBtn"
          mat-icon-button
          [color]="item.isFavorite ? 'warn' : null"
          aria-label="favorite"
          (click)="toggle.emit()"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          *ngIf="showRemoveBtn"
          mat-icon-button
          aria-label="Back"
          (click)="remove.emit()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="item__text">
    {{item.snippet.title}}
  </div>
</div>
