.item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  &__image {
    display: flex;
    justify-content: flex-end;
  }
  &__text {
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
  }
  &__buttons {
    background-color: gray;
    border-radius: 5px;
    height: 41px;
    margin: 10px;
  }
}
