<mat-tab-group>
  <mat-tab [label]="'main.tab1' | translate">
    <main-list></main-list>
  </mat-tab>
  <mat-tab [label]="'main.tab2' | translate">
    <main-favorites></main-favorites>
  </mat-tab>
</mat-tab-group>
