<div
  *ngIf="youtubeListsService.page$ | async as page"
  class="f-list"
>
  <div *ngFor="let videoItem of page.items">
    <app-youtube-video
      *ngIf="videoItem.isFavorite"
      [item]="videoItem"
      [showRemoveBtn]="true"
      (remove)="youtubeListsService.toggleInFavoriteList(videoItem, page.items)"
    ></app-youtube-video>
  </div>
</div>
